@model Proposal.Form.Models.Proposal
@{
}
<h4>Proposal</h4>

<div class="row">
    @using (Html.BeginForm("Post", "Proposal", FormMethod.Post))
    {
        <table>
            <tr>
                <td>Name</td>
                <td>@Html.TextBoxFor(x=>x.Name)</td>
            </tr>
            <tr>
                <td>Birthdate</td>
                <td>@Html.EditorFor(x=>x.CreateDate)</td>
            </tr>
            <tr>
                <td><button>Başvur</button></td>
                <td></td>
            </tr>
        </table>
    }
</div>
